#body_bg
{ 
background-color:#9F81F7; 
}

#login-form{ 

background:#A9D0F5; 
border: 3px solid #eeeee; 
padding:9px 9px;
 width:300px; 
 border-radius:5px; 
}
.img-responsive {
	width: 100%;
}
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #CCC;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}